In [ ]:
"""TASK LIST SHARK ATTACK

- Tubarões são a reencarnação do povo celta e estão sacrificando humanos por motivos maleficos?

- a principio removi todas as linhas duplicadas e nulas do dataset

- selecionei uma coluna que me de a informação de data para filtrar os dias do Samhain.
- utilizei a coluna Case Number pois para todas as entradas de dados relevantes ela é igual a coluna de Data
    - para limpa-la utilizei o metodo str.replace removendo todos os characteres não númericos, as linhas que iniciavam com 00, ND e terminavam com 00
    - obtive o padrão de aaaa-mm-dd, porem em muitos casos os dias estavam zerados.
    - Após a limpeza destesas linhas transformei o tipo da coluna em data.
    - verificar onde estão os pontos de calor do dado
 
- para obter apenas os casos ocorridos no Hemisferio norte, e que coincidiariam com os dias so Samhain utilizei a coluna Country
    - criei a lista com todas as entradas não correrspondentes 
    - realizei uma manipulação do dataframe para localizar todos as 'chaves' da lista, utilizei os metodos .loc e .drop para limpeza
    
- limpar coluna de sexo para saber se homens ou mulheres são atacados com mais frequencia nesses dias ou coluna de especies ou pegar ataques fatais ou não
 
- construir nova tabela com as colunas selecionadas
- exportar para csv e criar tableu 

- aplicar os conceitos de significancia estatistica (população vs tamanho da amostragem)
- inferencia estatistica
- por que não estudar a população inteira? Responder essa pergunta
- utilizei o metodo de amostragem de uma população infinita pois não sabemos quantos casos realmente existem de ataques de tubarão e os mesmos aumentam a cada ano
- cada elemento selecionado deve ser da mesma população
- cada independentemente


- para fazer o read me temos que colocar o resumo do que está acontecendo no codigo 
- """

In [1]:
import pandas as pd
import numpy as np
import regex as re

In [2]:
shark_dt = pd.read_csv(r"C:\Users\T-GAMER\Desktop\Ironhack DA\Week 3\Shark-attack\attacks.csv", encoding = 'latin-1', sep = ',')

"""Encoding 'latin-1' usado por conta de posiveis acentos utilizadaos dentro do dataset"""

"Encoding 'latin-1' usado por conta de posiveis acentos utilizadaos dentro do dataset"

In [79]:
pd.options.display.max_columns = 26

In [4]:
shark_dt.drop_duplicates(inplace= True)

In [5]:
#utilizei o set do ponto seguido de letras minusculas e maiusculas com 0 ou mais characteres
shark_dt ['Case Number 2'] = shark_dt['Case Number'].str.replace('[a-zA-Z]+', '', regex = True)

In [6]:
shark_dt ['Case Number 3'] = shark_dt['Case Number 2'].str.replace('\.+', '', regex = True).str.replace('-', '', regex = False).str.replace(',', '', regex = False).str.replace('/', '', regex = False).str.replace('&', '', regex = False)

In [7]:
shark_dt.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23', 'Case Number 2', 'Case Number 3'],
      dtype='object')

In [8]:
shark_dt = shark_dt[(['Case Number','Case Number 2', 'Case Number 3', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'])]

In [ ]:
# como filtrar uma linha de alguma coluna por meio do argumento nela
shark_dt[shark_dt['Case Number 3'] == '201507-10']

In [9]:
#mascara para ver todos os case numbers que terminam ou começam com 00/ND
mask_drop = shark_dt[shark_dt['Case Number 3'].str.endswith('00').fillna(False)]

In [16]:
mask_drop2 = shark_dt[shark_dt['Case Number 3'].str.startswith('00').fillna(False)]

In [18]:
mask_drop3 = shark_dt[shark_dt['Case Number 3'].str.startswith('ND').fillna(False)]

In [10]:
shark_dt.drop (mask_drop.index, inplace= True)

In [17]:
shark_dt.drop (mask_drop2.index, inplace= True)

In [19]:
shark_dt.drop (mask_drop3.index, inplace= True)

In [11]:
shark_dt.dropna (subset='Case Number 3', inplace= True)

In [12]:
shark_dt.dropna (subset='Date', inplace= True)

In [33]:
shark_dt.loc [shark_dt['Case Number 3'].str.count('\d') != 8, 'Case Number 3'] = '20020613'

In [ ]:
shark_dt.loc [shark_dt['Case Number 3'] == '19950826/b', 'Case Number 3'] = 19950826

In [39]:
shark_dt = shark_dt.loc [~(shark_dt['Case Number 3'].str.contains('\d{4}00\d{2}'))]

In [72]:
#tentativa de transformar coluna 'Case Number 3' em data
shark_dt['Case Number 3'] = pd.to_datetime(shark_dt['Case Number 3'], format = '%Y%m%d')

In [69]:
shark_dt['Case Number 3'].iloc[3027] = '18530429'

In [73]:
shark_dt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3107 entries, 0 to 6215
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             3107 non-null   object
 1   Case Number 2           3107 non-null   object
 2   Case Number 3           3107 non-null   datetime64[ns]
 3   Date                    3107 non-null   object
 4   Year                    3106 non-null   float64
 5   Type                    3106 non-null   object
 6   Country                 3073 non-null   object
 7   Area                    2909 non-null   object
 8   Location                2875 non-null   object
 9   Activity                2895 non-null   object
 10  Name                    3008 non-null   object
 11  Sex                     2886 non-null   object
 12  Age                     1938 non-null   object
 13  Injury                  3098 non-null   object
 14  Fatal (Y/N)             2842 non-null   object
 15  Time                    1687 non-null   object
 16  Species                 1711 non-null   object
 17  Investigator or Source  3102 non-null   object
 18  pdf                     3107 non-null   object
 19  href formula            3107 non-null   object
 20  href                    3107 non-null   object
 21  Case Number.1           3107 non-null   object
 22  Case Number.2           3107 non-null   object
 23  original order          3107 non-null   float64
 24  Unnamed: 22             1 non-null      object
 25  Unnamed: 23             2 non-null      object
dtypes: datetime64[ns](1), float64(2), object(23)
memory usage: 655.4+ KB

In [13]:
pd.unique(shark_dt['Country'])

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND', 'SOUTH AFRICA',
       'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS', 'NEW CALEDONIA',
       'ECUADOR', 'MALAYSIA', 'LIBYA', nan, 'CUBA', 'MAURITIUS',
       'NEW ZEALAND', 'SPAIN', 'SAMOA', 'SOLOMON ISLANDS', 'JAPAN',
       'EGYPT', 'ST HELENA, British overseas territory', 'COMOROS',
       'REUNION', 'FRENCH POLYNESIA', 'UNITED KINGDOM',
       'UNITED ARAB EMIRATES', 'PHILIPPINES', 'INDONESIA', 'CHINA',
       'COLUMBIA', 'CAPE VERDE', 'Fiji', 'DOMINICAN REPUBLIC',
       'CAYMAN ISLANDS', 'ARUBA', 'MOZAMBIQUE', 'PUERTO RICO', 'ITALY',
       'ATLANTIC OCEAN', 'GREECE', 'ST. MARTIN', 'FRANCE',
       'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL',
       'DIEGO GARCIA', 'TAIWAN', 'JAMAICA', 'PALESTINIAN TERRITORIES',
       'GUAM', 'SEYCHELLES', 'BELIZE', 'NIGERIA', 'TONGA', 'SCOTLAND',
       'CANADA', 'CROATIA', 'FIJI', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA',
       'KENYA', 'RUSSIA', 'TURKS & CAICOS', 'UNITED ARAB EMIRATES (UAE)',
       'AZORES', 'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR',
       'PANAMA', 'SOMALIA', 'NEVIS', 'BRITISH VIRGIN ISLANDS', 'NORWAY',
       'YEMEN', 'Sierra Leone', 'ST. MAARTIN', 'GRAND CAYMAN',
       'Seychelles', 'LIBERIA', 'VANUATU', 'MEXICO ', 'HONDURAS',
       'VENEZUELA', 'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA',
       'MICRONESIA', 'OKINAWA', 'TANZANIA', 'MARSHALL ISLANDS',
       'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA', 'HONG KONG',
       'EL SALVADOR', 'CARIBBEAN SEA', 'BERMUDA', 'NAMIBIA',
       'SOUTH CHINA SEA', 'WESTERN SAMOA', 'PACIFIC OCEAN ',
       'BRITISH ISLES', 'PALAU', 'GRENADA', 'TURKEY', 'SINGAPORE',
       'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND', 'NEW GUINEA',
       'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA',
       'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES', 'SOUTH ATLANTIC OCEAN',
       'MID ATLANTIC OCEAN', 'PERSIAN GULF', 'PACIFIC OCEAN', 'SENEGAL',
       'NORTH SEA', 'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS',
       'GABON', 'PORTUGAL', 'MONTENEGRO', 'THE BALKANS', 'ARGENTINA',
       'IRAN', 'GUATEMALA', 'NETHERLANDS ANTILLES',
       'NORTH ATLANTIC OCEAN', 'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ',
       'SIERRA LEONE', ' PHILIPPINES', 'CENTRAL PACIFIC', 'INDIAN OCEAN',
       'SOLOMON ISLANDS / VANUATU', 'SOUTHWEST PACIFIC OCEAN',
       'BAY OF BENGAL', 'NICARAGUA', 'IRAQ', 'ICELAND', 'ITALY / CROATIA',
       'BARBADOS', 'GUYANA', 'HAITI', 'IRELAND', 'KUWAIT', 'TUNISIA',
       'YEMEN ', 'CYPRUS', 'EGYPT ', 'WEST INDIES', 'BURMA', 'LEBANON',
       'MARTINIQUE', 'PARAGUAY', 'BRITISH NEW GUINEA', 'CEYLON',
       'GEORGIA', 'TUVALU', 'INDIAN OCEAN?', 'GUINEA', 'ANDAMAN ISLANDS',
       'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'TOBAGO', 'PERU',
       'AFRICA', 'ALGERIA', 'Coast of AFRICA', 'TASMAN SEA',
       'Between PORTUGAL & INDIA', 'DJIBOUTI', 'BAHREIN', 'KOREA',
       'RED SEA?', 'MEDITERRANEAN SEA', 'ASIA?', 'CEYLON (SRI LANKA)'],
      dtype=object)

In [14]:
lista_hemisferio_sul = ['AUSTRALIA', 'BRAZIL', 'SOUTH AFRICA', 'BAHAMAS', 'NEW CALEDONIA', 'ECUADOR', 'MALAYSIA', 'LYBIA', 'nan', 'CUBA', 'MAURITIUS', 'NEW ZELAND', 'SAMOA', 'SALOMON ISLANDS', 'ST HELENA', 'COMOROS',
 'REUNION', 'FRENCH POLYNESIA', 'INDONESIA', 'CAPE VERDE', 'Fiji', 'PUERTO RICO', 'KIRIBATI', 'DIEGO GARCIA', 'GUAM', 'SEYCHELLES', 'BELIZE', 'NIGERIA', 'TONGA', 'CHILE', 'ANTIGUA', 'KENYA', 'MADAGASCAR',
'PANAMA', 'SOMALIA', 'SENEGAL', 'Sierra Leone', 'Seychelles', 'LIBERIA', 'VENEZUELA', 'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA', 'MICRONESIA', 'TANZANIA', 'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA',
 'EL SALVADOR', 'ANGOLA', 'BERMUDA', 'MONTENEGRO', 'NAMIBIA', 'NEW GUINEA', 'NICARAGUA ', 'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE', 'THE BALKANS', 'SUDAN?', 'ARGENTINA','MARTINIQUE', 'INDIAN OCEAN',
'GUATEMALA', 'IRAN / IRAQ', 'JAVA', 'SIERRA LEONE', 'SOLOMON ISLANDS / VANUATU', 'CURACAO', 'HAITI', 'SAN DOMINGO', 'CYPRUS''PARAGUAY', 'BRITISH NEW GUINEA', 'CEYLON', 'OCEAN', 'GEORGIA', 'SYRIA',
'TUVALU', 'INDIAN OCEAN?', 'GUINEA', 'ANDAMAN ISLANDS', 'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'TOBAGO', 'PERU', 'AFRICA', 'ALGERIA', 'Coast of AFRICA', 'TASMAN SEA', 'GHANA', 'Between PORTUGAL & INDIA',
'RED SEA?', 'ASIA?', 'CEYLON (SRI LANKA)']

In [15]:
#essa manipulação do dataframe foi utilizada para localizar todos as 'chaves' que não correspondiam a localidades no hemisferio norte, após localizadas as linhas foram dropadas do dataset

shark_dt.drop (shark_dt.loc[shark_dt ['Country'].isin(lista_hemisferio_sul)].index, inplace= True)

In [81]:
pd.unique(shark_dt['Fatal (Y/N)'])

array(['N', 'Y', nan, 'UNKNOWN', '2017'], dtype=object)

In [85]:
shark_dt.to_excel(r'C:\Users\T-GAMER\Desktop\Ironhack DA\Week 3\Shark-attack\shark_final.xlsx')